<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.nothing.ketchum.permission.ENABLE" />

    <application
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:usesCleartextTraffic="false"
        android:resizeableActivity="true">
        <meta-data android:name="NothingKey" android:value="test" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MatrixWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/matrix_widget_info" />
        </receiver>

        <service
            android:name=".YukiClockToyService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.nothing.glyph.TOY" />
            </intent-filter>
            <meta-data android:name="com.nothing.glyph.toy.name" android:resource="@string/toy_name_clock" />
            <meta-data android:name="com.nothing.glyph.toy.image" android:resource="@drawable/img_toy_preview_clock" />
            <meta-data android:name="com.nothing.glyph.toy.summary" android:resource="@string/toy_summary_clock" />
            <meta-data android:name="com.nothing.glyph.toy.aod_support" android:value="1" />
        </service>
    </application>
</manifest>
